doctype html
html
	head
		link(href="/stylesheets/style.css" rel="stylesheet")

	body
		contentContainer
			contentColumn
					contentLister
						circle
						content
						content
						content
						content
						content
						content
				//- content
				//- circle
			//- contentColumn
			//- 	content
			//- contentColumn
			//- 	content
			//- 	content
			//- 	content

	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="/scripts/script.js")