doctype html
html
	head
		link(href="/stylesheets/style.css" rel="stylesheet")

	body
		.contentContainer
			.contentColumn
			.contentColumn
			.contentColumn

	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")