doctype html
html
	head
		link(href="/stylesheets/style.css" rel="stylesheet")

	body
		contentContainer
			contentColumn#facebook
				circle#facebook
				contentLister#facebook
					content
					content
					content
					content
					content
					content
			contentColumn
				circle#instagram
				contentLister
					content

	script(type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="/scripts/script.js")