body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../images/60-lines.png");
  background-color: #222;
}
totalContainer {
  height: 100%;
  width: 100%;
}
sidebarContainer {
  height: 100%;
}
circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: 100%;
  box-sizing: border-box;
  border: 5px solid #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 19;
}
circle#facebook {
  background-image: url("../images/facebook.png");
}
#instagram {
  background-image: url("../images/instagram.png");
}
contentContainer {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 20px solid transparent;
  display: flex;
}
contentColumn {
  box-sizing: border-box;
  margin: 0 10px;
  height: 90%;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-self: center;
  flex: 1;
  flex-direction: column;
  overflow-x: auto;
  background-color: transparent;
}
contentLister {
  height: 100%;
  margin-top: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.newitem {
  animation: flexGrow 500ms ease forwards;
  flex: 0.00001;
}
@-webkit-keyframes flexGrow {
  to {
    flex: 1;
  }
}
content {
  height: 200px;
  width: 90%;
  max-width: 500px;
  min-width: 100px;
  margin: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 5px #888;
  border-radius: 6px;
  align-self: center;
  flex-shrink: 0;
}
.min-width {
  min-width: 300px;
}
::-webkit-scrollbar {
  width: 27px;
  height: 27px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 0px none #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #fff;
  border-radius: 50px;
}
