body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../images/60-lines.png");
  background-color: #34495e;
}
totalContainer {
  height: 100%;
  width: 100%;
}
sidebarContainer {
  height: 100%;
}
contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
contentColumn {
  box-sizing: border-box;
  margin: 0 10px;
  padding: 10px;
  min-width: 300px;
  height: 90%;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-self: center;
  flex: 1;
  flex-direction: column;
  overflow-x: auto;
  background-color: #fff;
}
.something {
  animation: flexsomething 1s ease-in-out;
}
.newitem {
  animation: flexGrow 500ms ease forwards;
  flex: 0.00001;
}
@-webkit-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 1;
  }
}
content {
  height: 200px;
  width: 90%;
  max-width: 500px;
  min-width: 100px;
  margin: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 5px #888;
  align-self: center;
  flex-shrink: 0;
}
@-moz-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@-webkit-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@keyframes flexGrow {
  to {
    flex: 1;
  }
}
