html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.contentColumn {
  background-color: #000;
  min-width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
