html, body
	height 100%
	width 100%
	// display flex
	background-color white

.contentContainer
	height 100%
	width 100%
	display flex
	
	
.contentColumn
	//border 1px solid black
	background-color black
	min-width 100px
	height 100%
	display flex
	flex-direction column
	